{% extends "base_generic.html" %}

{% load static %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script>
    	function onClickUpVote() {
        vote(1)
    }

	function onClickDownVote() {
        vote(-1);
    }

	function vote(vote_value) {
        $.ajax({
            url: '{% url 'vote_question' %}',
            type: 'POST',
            data:{question_id: {{ question.id }}, value: vote_value, user_id: {{ user.id }}, csrfmiddlewaretoken: '{{ csrf_token }}'},
            success: function(response) {
                current_vote = response.current_vote
                if (current_vote == -1) {
                    document.getElementById("down-vote").style.color = "orange";
                    document.getElementById("up-vote").style.color = "#D3D3D3";
                } else if (current_vote == 1) {
                    document.getElementById("up-vote").style.color = "orange";
                    document.getElementById("down-vote").style.color = "#D3D3D3";
                } else if (current_vote == 0) {
                    if (vote_value == 1) {
                        document.getElementById("up-vote").style.color = "#D3D3D3";
                    } else {
                        document.getElementById("down-vote").style.color = "#D3D3D3";
                    }
                }

                document.getElementById("question-vote").innerHTML = response.total_votes
            },
        });
    }

    function onClickUpVoteAnswer(id) {
        vote_ans(id, 1)
    }

	function onClickDownVoteAnswer(id) {
        vote_ans(id, -1)
    }

	function vote_ans(id, vote_value) {
        $.ajax({
            url: '{% url 'vote_answer' %}',
            type: 'POST',
            data:{answer_id: id, value: vote_value, user_id: {{ user.id }}, csrfmiddlewaretoken: '{{ csrf_token }}'},
            success: function(response) {
                current_vote = response.current_vote
                if (current_vote == -1) {
                    document.getElementById("down-vote-answer-" + id).style.color = "orange";
                    document.getElementById("up-vote-answer-" + id).style.color = "#D3D3D3";
                } else if (current_vote == 1) {
                    document.getElementById("up-vote-answer-" + id).style.color = "orange";
                    document.getElementById("down-vote-answer-" + id).style.color = "#D3D3D3";
                } else if (current_vote == 0) {
                    if (vote_value == 1) {
                        document.getElementById("up-vote-answer-" + id).style.color = "#D3D3D3";
                    } else {
                        document.getElementById("down-vote-answer-" + id).style.color = "#D3D3D3";
                    }
                }

                document.getElementById("answer-vote-" + id).innerHTML = response.total_votes
            },
        });

    }
</script>

{% endblock %}

{% block content %}

<div style="margin-left: 40px;"><h3>{{ question.header }}</h3></div>
<div class="row">
  <div class="col-md-1" style="font-size: 1em; color: #606060;" align="right">

     <div class="fa fa-caret-up" id="up-vote" style="color:{% if question_vote == 1 %}orange{% else %}#D3D3D3{% endif %};font-size:36px" onclick="onClickUpVote()"></div>
     <div id="question-vote">{{ question.vote_count }}</div>
     <div class="fa fa-caret-down" id="down-vote" style="color:{% if question_vote == -1 %}orange{% else %}#D3D3D3{% endif %};font-size:36px" onclick="onClickDownVote()"></div>

   </div>
   <div class="col-md-2">

        {{ question.content }}
   </div>
</div>


{% load homepage_filters %}
{% for answer in question.answer_set.all %}
<div class="row">
    <div class="col-md-1" style="font-size: 1em; color: #606060;" align="right">
        <div class="fa fa-caret-up" id="up-vote-answer-{{ answer.id }}" style="color:{% if answer|get_current_user_vote:user.id == 1 %}orange{% else %}#D3D3D3{% endif %};font-size:36px" onclick="onClickUpVoteAnswer({{ answer.id }})"></div>
        <div id="answer-vote-{{ answer.id }}">{{ answer.vote_count }}</div>
        <div class="fa fa-caret-down" id="down-vote-answer-{{ answer.id }}" style="color:{% if answer|get_current_user_vote:user.id == -1 %}orange{% else %}#D3D3D3{% endif %};font-size:36px" onclick="onClickDownVoteAnswer({{ answer.id }})"></div>
    </div>
    <div class="col-md-2">
        {{ answer.content }}
    </div>
</div>
{% endfor %}

<br>
<br>
{% if user.is_authenticated %}
<form action="{% url 'answer_question' question.id %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="answer">Your answer</label>
        <textarea class="form-control" name="answer_text" id="answer" rows="3"></textarea>
    </div>

    <div class="button">
        <input type="submit" class="btn btn-primary" value="Post your answer"/>
    </div>


</form>
{% else %}

<span>Log in or sign up to post an answer</span>
<span align="right">
    <a class="btn btn-link" href="{% url 'login'%}?next={{request.path}}">Log In</a>
    <a class="btn btn-outline-primary">Sign Up</a>
</span>

{% endif %}

{% endblock %}