{% extends "base_generic.html" %}
{% load static %}

{% block content %}

<div style="margin-left: 40px;"><h3>{{ question.header }}</h3></div>
<div class="row">
    <div class="col-md-1" style="font-size: 1em; color: #606060;" align="right">

     <div class="fa fa-caret-up" id="up-vote" style="cursor: pointer;color:{% if question_vote == 1 %}orange{% else %}#D3D3D3{% endif %};font-size:36px" onclick="onClickUpVote()"></div>
     <div id="question-vote">{{ question.vote_sum }}</div>
     <div class="fa fa-caret-down" id="down-vote" style="cursor: pointer;color:{% if question_vote == -1 %}orange{% else %}#D3D3D3{% endif %};font-size:36px" onclick="onClickDownVote()"></div>

   </div>
    <div class="col-md-10">
        <p>
            {{ question.content|linebreaks }}
        </p>
       {% for tag in question.tags.all %}
       <a class="badge badge-primary" href="{% url 'search_results' %}?q=tag:{{ tag.name }}">{{ tag.name }}</a>
       {% endfor %}
       <div align="right">
            <img src="{{ question.user.userprofile.avatar.url }}" width="50" height="50" class="right"  alt="no image">
           <div style="float:right;width:75px;text-align: left;">    {{ question.user.username }}</div>
       </div>
   </div>
</div>
<hr>

{% load homepage_filters %}
{% for answer in answer_list %}
<div class="row">
    <div class="col-md-1" style="font-size: 1em; color: #606060;" align="right">
        <div class="fa fa-caret-up" id="up-vote-answer-{{ answer.id }}" style="cursor: pointer;color:{% if answer.current_user_vote == 1 %}orange{% else %}#D3D3D3{% endif %};font-size:36px" onclick="onClickUpVoteAnswer({{ answer.id }})"></div>
        <div id="answer-vote-{{ answer.id }}">{{ answer.vote_sum }}</div>
        <div class="fa fa-caret-down"  id="down-vote-answer-{{ answer.id }}" style="cursor: pointer;color:{% if answer.current_user_vote == -1 %}orange{% else %}#D3D3D3{% endif %};font-size:36px" onclick="onClickDownVoteAnswer({{ answer.id }})"></div>
        <p style="{% if user.id == question.user.id %} cursor:pointer;color:black{% else %}cursor:default;color:#D3D3D3{% endif %};font-size:20px" id="answer-right-{{ answer.id }}" onclick="onClickAnswerRight({{ answer.id }}, {{ user.id }}, {{ question.user_id }})">{% if answer.is_correct == 1 %}&#9733;{% else %}&#9734;{% endif %}</p>
    </div>
    <div class="col-md-10">
        <p>{{ answer.content|linebreaks  }}</p>
        <div align="right">
            <img src="{{ media_url }}{{ answer.user__userprofile__avatar }}" width="50" height="50" class="right"  alt="no image">
           <div style="float:right;width:75px;text-align: left;">    {{ answer.user__username }}</div>
        </div>
    </div>
</div>
<hr>
{% endfor %}


<nav aria-label="...">
  <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Prev</a>
        </li>
      {% endif %}

      {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="page-item active">
                <a class="page-link" href="?page={{i}}">{{ i }} <span class="sr-only">(current)</span></a>
            </li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
          {% endif %}

      {% endfor %}

      {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        </li>
      {% endif %}

  </ul>
</nav>

<br>
<br>
{% if user.is_authenticated %}
<form  method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="answer_text"><b>Your answer</b></label>
        <textarea class="form-control" name="answer_text" id="answer_text" rows="3"></textarea>
        <p style="color: red">{{ form.answer_text.errors.as_text }}</p>
    </div>

    <div class="button">
        <input type="submit" class="btn btn-primary" value="Post your answer"/>
    </div>


</form>
{% else %}

<span>Log in or sign up to post an answer</span>
<span align="right">
    <a class="btn btn-link" href="{% url 'login'%}?next={{request.path}}">Log In</a>
    <a class="btn btn-outline-primary">Sign Up</a>
</span>

{% endif %}

{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script>
    function onClickUpVote() {
        vote(1)
    }

	function onClickDownVote() {
        vote(-1);
    }

	function vote(vote_value) {
        $.ajax({
            url: '{% url 'vote_question' %}',
            type: 'POST',
            data:{question_id: {{ question.id }}, value: vote_value, user_id: {{ user.id }}, csrfmiddlewaretoken: '{{ csrf_token }}'},
            success: function(response) {
                current_vote = response.current_vote
                if (current_vote == -1) {
                    document.getElementById("down-vote").style.color = "orange";
                    document.getElementById("up-vote").style.color = "#D3D3D3";
                } else if (current_vote == 1) {
                    document.getElementById("up-vote").style.color = "orange";
                    document.getElementById("down-vote").style.color = "#D3D3D3";
                } else if (current_vote == 0) {
                    if (vote_value == 1) {
                        document.getElementById("up-vote").style.color = "#D3D3D3";
                    } else {
                        document.getElementById("down-vote").style.color = "#D3D3D3";
                    }
                }

                document.getElementById("question-vote").innerHTML = response.total_votes
            },
        });
    }

    function onClickUpVoteAnswer(id) {
        vote_ans(id, 1)
    }

	function onClickDownVoteAnswer(id) {
        vote_ans(id, -1)
    }

	function vote_ans(id, vote_value) {

        $.ajax({
            url: '{% url 'vote_answer' %}',
            type: 'POST',
            data:{answer_id: id, value: vote_value, user_id: {{ user.id }}, csrfmiddlewaretoken: '{{ csrf_token }}'},
            success: function(response) {
                current_vote = response.current_vote
                if (current_vote == -1) {
                    document.getElementById("down-vote-answer-" + id).style.color = "orange";
                    document.getElementById("up-vote-answer-" + id).style.color = "#D3D3D3";
                } else if (current_vote == 1) {
                    document.getElementById("up-vote-answer-" + id).style.color = "orange";
                    document.getElementById("down-vote-answer-" + id).style.color = "#D3D3D3";
                } else if (current_vote == 0) {
                    if (vote_value == 1) {
                        document.getElementById("up-vote-answer-" + id).style.color = "#D3D3D3";
                    } else {
                        document.getElementById("down-vote-answer-" + id).style.color = "#D3D3D3";
                    }
                }

                document.getElementById("answer-vote-" + id).innerHTML = response.total_votes
            },
        });

    }

    function onClickAnswerRight(id, user_id, author_id) {
       if (user_id != author_id) {
        return
       }

       $.ajax({
            url: '{% url 'mark_answer_right' %}',
            type: 'POST',
            data:{answer_id: id, user_id: {{ user.id }}, csrfmiddlewaretoken: '{{ csrf_token }}'},
            success: function(response) {
                if (response == 1) {
                    document.getElementById("answer-right-" + id).innerHTML = '&#9733;';
                } else if (response == 0) {
                    document.getElementById("answer-right-" + id).innerHTML = '&#9734;';
                }
            },
        });


    }
</script>

{% endblock %}