{% extends "main/base_main.html" %}
{% load static %}

{% block links %}
{{ block.super }}
    <link href='{% static "main/css/font-awesome.min.css" %}' rel="stylesheet" type="text/css">

    <style>
        .vote {
            font-size: 36px;
            cursor: pointer;
            color: #D3D3D3;
        }

        .active-vote {
            font-size: 36px;
            cursor: pointer;
            color: orange;
        }

        .answer-mark {
            font-size:20px;
            cursor:default;
            color:#D3D3D3;
        }

        .answer-owner-mark {
            font-size:20px;
            cursor:pointer;
            color:black;
        }

    </style>
{% endblock %}

{% block content %}

<h3 class="question-header">{{ question.header }}</h3>
<div class="row">
    <div class="col-md-1 vote-sum" align="right">
     <i class="fa fa-caret-up {% if question_vote == 1 %}active-vote{% else %}vote{% endif %}" id="up-vote"></i>
     <div id="question-vote">{{ question.vote_sum }}</div>
     <div class="fa fa-caret-down {% if question_vote == -1 %}active-vote{% else %}vote{% endif %}" id="down-vote" ></div>

   </div>
    <div class="col-md-10">
        <p>
            {{ question.content|linebreaks }}
        </p>
       {% for tag in question.tags.all %}
       <a class="badge badge-primary" href="{% url 'search_results' %}?q=tag:{{ tag.name }}">{{ tag.name }}</a>
       {% endfor %}
       <div align="right">
            <img src="{% if question.user.avatar %}{{ question.user.avatar.url}} {% else %} {{ static_img_url }}default_avatar.png {% endif %}" width="50" height="50" class="right"  alt="no image">
           <div class="question_username"> {{ question.user.username }}</div>
       </div>
   </div>
</div>
<hr>

{% load main_filters %}
{% for answer in answer_list %}
<input type="hidden" id="answer_list" name="variable" value="{{ answer_list }}">
<div class="row">
    <div class="col-md-1 vote-sum" align="right">
        <div class="fa fa-caret-up {% if answer.current_user_vote == 1 %}active-vote{% else %}vote{% endif %}" id="up-vote-answer-{{ answer.id }}" name="{{ answer.id }}"></div>
        <div id="answer-vote-{{ answer.id }}">{{ answer.vote_sum }}</div>
        <div class="fa fa-caret-down {% if answer.current_user_vote == -1 %}active-vote{% else %}vote{% endif %}"  id="down-vote-answer-{{ answer.id }}" name="{{ answer.id }}" ></div>
        <div class="{% if user.id == question.user.id %} answer-owner-mark {% else %} anser-mark {% endif %}" id="answer-right-{{ answer.id }}" name="{{ answer.id }}" >{% if answer.is_correct == 1 %}&#9733;{% else %}&#9734;{% endif %}</div>
    </div>
    <div class="col-md-10">
        <p>{{ answer.content|linebreaks  }}</p>
        <div align="right">
            <img src="{% if answer.user__avatar %}{{ media_url }}{{ answer.user__avatar }}{% else %}{{ static_img_url }}default_avatar.png{% endif %}" width="50" height="50" class="right"  alt="no image">
           <div class="question_username"> {{ answer.user__username }}</div>
        </div>
    </div>
</div>
<hr>
{% endfor %}


<nav aria-label="...">
  <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Prev</a>
        </li>
      {% endif %}

      {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="page-item active">
                <a class="page-link" href="?page={{i}}">{{ i }} <span class="sr-only">(current)</span></a>
            </li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
          {% endif %}

      {% endfor %}

      {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        </li>
      {% endif %}

  </ul>
</nav>

<br>
<br>
{% if user.is_authenticated %}
<form  method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="answer_text"><b>Your answer</b></label>
        <textarea class="form-control" name="answer_text" id="answer_text" rows="3"></textarea>
        <p class="error">{{ form.answer_text.errors.as_text }}</p>
    </div>

    <div class="button">
        <input type="submit" class="btn btn-primary" value="Post your answer"/>
    </div>


</form>
{% else %}

<span>Log in or sign up to post an answer</span>
<span align="right">
    <a class="btn btn-link" href="{% url 'login'%}?next={{request.path}}">Log In</a>
    <a class="btn btn-outline-primary">Sign Up</a>
</span>

{% endif %}

{% endblock %}

{% block scripts %}
{{ block.super }}
    <script src='{% static "main/js/jquery-ui.min.js" type="text/javascript" %}' charset="utf-8"></script>
{% endblock %}

{% block js %}
<script>
$(document).ready(function () {

  var divs = document.getElementsByTagName("div");
  for (i = 0 ; i < divs.length ; i++) {
    itemName = divs[i].getAttribute("id")

    if ( (itemName != null) && (itemName.indexOf("up-vote-answer-") == 0) ) {
        $("#" + divs[i].getAttribute("id")).click(function() {
           vote_ans(document.getElementById(this.id).getAttribute("name"), 1);
        });
    }

    if ( (itemName != null) && (itemName.indexOf("down-vote-answer-") == 0) ) {
        $("#" + divs[i].getAttribute("id")).click(function() {
            vote_ans(document.getElementById(this.id).getAttribute("name"), -1);
        });
    }

    if ( (itemName != null) && (itemName.indexOf("answer-right-") == 0) ) {
        $("#" + divs[i].getAttribute("id")).click(function() {
            onClickAnswerRight(document.getElementById(this.id).getAttribute("name"));
        });
    }
  }


$("#up-vote").click(function() {
    vote(1)
});

$("#down-vote").click(function() {
    vote(-1)
});

function vote(vote_value) {
    $.ajax({
        url: '{% url 'vote_question' %}',
        type: 'POST',
        data:{question_id: {{ question.id }}, value: vote_value, user_id: {{ user.id }}, csrfmiddlewaretoken: '{{ csrf_token }}'},
        success: function(response) {
            current_vote = response.current_vote
            if (current_vote == -1) {
                document.getElementById("down-vote").classList.remove("vote");
                document.getElementById("down-vote").classList.add("active-vote");

                document.getElementById("up-vote").classList.remove("active-vote");
                document.getElementById("up-vote").classList.add("vote");
            } else if (current_vote == 1) {
                document.getElementById("up-vote").classList.remove("vote");
                document.getElementById("up-vote").classList.add("active-vote");

                document.getElementById("down-vote").classList.remove("active-vote");
                document.getElementById("down-vote").classList.add("vote");

            } else if (current_vote == 0) {
                if (vote_value == 1) {
                    document.getElementById("up-vote").classList.remove("active-vote");
                    document.getElementById("up-vote").classList.add("vote");
                } else {
                    document.getElementById("down-vote").classList.remove("active-vote");
                    document.getElementById("down-vote").classList.add("vote");
                }
            }

            document.getElementById("question-vote").innerHTML = response.total_votes
        },
    });
}

function onClickUpVoteAnswer(id) {
    vote_ans(id, 1)
}

function onClickDownVoteAnswer(id) {
    vote_ans(id, -1)
}

function vote_ans(id, vote_value) {
    $.ajax({
        url: '{% url 'vote_answer' %}',
        type: 'POST',
        data:{answer_id: id, value: vote_value, user_id: {{ user.id }}, csrfmiddlewaretoken: '{{ csrf_token }}'},
        success: function(response) {
            current_vote = response.current_vote
            if (current_vote == -1) {
                document.getElementById("down-vote-answer-" + id).classList.remove("vote");
                document.getElementById("down-vote-answer-" + id).classList.add("active-vote");

                document.getElementById("up-vote-answer-" + id).classList.remove("active-vote");
                document.getElementById("up-vote-answer-" + id).classList.add("vote");

            } else if (current_vote == 1) {
                document.getElementById("up-vote-answer-" + id).classList.remove("vote");
                document.getElementById("up-vote-answer-" + id).classList.add("active-vote");

                document.getElementById("down-vote-answer-" + id).classList.remove("active-vote");
                document.getElementById("down-vote-answer-" + id).classList.add("vote");
            } else if (current_vote == 0) {
                if (vote_value == 1) {
                    document.getElementById("up-vote-answer-" + id).classList.remove("active-vote");
                    document.getElementById("up-vote-answer-" + id).classList.add("vote");
                } else {
                    document.getElementById("down-vote-answer-" + id).classList.remove("active-vote");
                    document.getElementById("down-vote-answer-" + id).classList.add("vote");
                }
            }

            document.getElementById("answer-vote-" + id).innerHTML = response.total_votes
        },
    });

}

function onClickAnswerRight(id) {
   if ({{ user.id }} != {{ question.user.id }}) {
    return
   }

   $.ajax({
        url: '{% url 'mark_answer_right' %}',
        type: 'POST',
        data:{answer_id: id, user_id: {{ user.id }}, csrfmiddlewaretoken: '{{ csrf_token }}'},
        success: function(response) {
            if (response == 1) {
                document.getElementById("answer-right-" + id).innerHTML = '&#9733;';
            } else if (response == 0) {
                document.getElementById("answer-right-" + id).innerHTML = '&#9734;';
            }
        },
    });
}

});
</script>
{% endblock %}