{% extends "base_generic.html" %}

{% block content %}

<div class="container">

    <div class="text-right">
        <div class="btn-group" role="group" align="right">
            <a class="{% if ordering == '0' %}btn btn-secondary{% else %}btn btn-outline-secondary{% endif %}" href="{% url 'index' %}?ordering=0" >New questions</a>
            <a class="{% if ordering == '1' %}btn btn-secondary{% else %}btn btn-outline-secondary{% endif %}" href="{% url 'index'%}?ordering=1">Hot questions</a>
        </div>
    </div>


    <hr>
    {% include "main/question_list.html" %}
    {% if question_list %}
    <nav aria-label="...">
      <ul class="pagination">
          {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}&ordering={{ ordering }}" tabindex="-1">Prev</a>
            </li>
          {% endif %}

          {% for i in paginator.page_range %}
              {% if page_obj.number == i %}
                <li class="page-item active">
                    <a class="page-link" href="?page={{i}}&ordering={{ ordering }}">{{ i }} <span class="sr-only">(current)</span></a>
                </li>
              {% else %}
                <li class="page-item"><a class="page-link" href="?page={{i}}&ordering={{ ordering }}">{{i}}</a></li>
              {% endif %}

          {% endfor %}

          {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}&ordering={{ ordering }}">Next</a>
            </li>
          {% endif %}
      </ul>
    </nav>
{% endif %}
</div>

{% endblock %}

{% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
{% endblock %}

