
.question-header {
  margin-left: 40px;
}

.vote-sum {
    font-size: 1em;
    color: #606060;
}



.question_username {
    float:right;
    width:75px;
    text-align: left;
}


.error {
    color:red;
}